
.footer
{
    margin-top: -35px;
    background-color: #333;
}

.newspaper h3
{color: #70aed2;
    text-decoration: none;
}

.myList a
{
    color: #dcdcdc;
    text-align: start;
    text-decoration: none;
}

.myList a:hover
{
    color:#999999;
}

.newsapp h3
{
    color: #a9a9a9;
}

.newsapp a
{
    color: #dcdcdc;
}

.newsapp .android:hover
{
    color: #A4C639;
}

.newsapp .apple:hover
{
    color:#7d7d7d;
}

.about h3
{
    color: #70aed2;
}

.about p
{
    color:#dcdcdc;
    font-size: 15px;
}

hr
{
    border-top: 2px solid black;
}

.myFooter
{
    background-color: black;
    margin-top: -17px;
    font-size: 18px;
    color: #c4c4c4;
    text-align: center;
    padding: 10px ;
}


