<footer class="footer">

    <div class="container">
      <div class="row">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 newspaper">
          <h3 class="pb-2 pt-3">NEWSPAPERS</h3>
          <div class="myList">
          
            <h6><a href="https://www.wsj.com/europe" target="_blank">The Wall Street Journal</a></h6>
            <h6><a href="https://www.nytimes.com/" target="_blank">The New York Times</a></h6>
            <h6><a href="https://www.theguardian.com/international" target="_blank">The Guardian</a></h6>
            <h6><a href="https://www.washingtonpost.com/" target="_blank">The Washington Post</a></h6>
            <h6><a href="http://www.chinadaily.com.cn/" target="_blank">China Daily</a></h6>
            <h6><a href="https://timesofindia.indiatimes.com/home/headlines" target="_blank">The Times of India</a></h6>
            <h6><a href="https://www.smh.com.au/" target="_blank">The Sydney Morning Herald </a></h6>
            <h6><a href="http://www.asahi.com/ajw/" target="_blank">The Asahi Shimbun</a></h6>  
        </div>
        </div>
  
  
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 newsapp">
          <h3 class="pt-3 pb-2">DAILY NEWS APP</h3>
          <a href="#" class="pl-2 android"><i class="fab fa-android fa-2x"></i></a>
          <a href="#" class="pl-2 apple"><i class="fab fa-apple fa-2x"></i></a>
        </div>
  
  
  
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 about">
          <h3 class="pt-3 pb-2">ABOUT US</h3>
          <p>Daily News & World Report is a multi-platform publisher of news and information, 
            which includes www.dailynews.com and annual print and e-book versions of its authoritative rankings of Best Colleges,
            Best Graduate Schools and Best Hospitals. In 2012 Daily News launched a conference division focusing on 
            important national conversations and solutions in STEM Education and Healthcare of Tomorrow.
          </p>
        </div>
  
  
      </div>
    </div>
  
    <hr >
  
    <div class="myFooter"><span>©</span>2019 Ahmad Al-shahawi</div>
  
  </footer>