
/*
declare var. $varname:value
nesting
@extend


*/

$darkBg:#333;
$direction:rtl;
$floatLeft:left;
$floatRight:right;





@mixin boxShadow($x,$y,$b,$c) {
    -webkit-box-shadow:$x $y $b $c;
    -moz-box-shadow:$x $y $b $c;
    -o-box-shadow:$x $y $b $c;
    -ms-box-shadow:$x $y $b $c;
    box-shadow:$x $y $b $c;
}

.news-card{
    @include boxShadow(0, 0, 20px, #03A9F4 )
}
.footer-link {
    color: #eee;
    font-size: 13px;
    transition: all .3s;
  }
  
  .footer-link:hover {
    color: #70aed2;
    text-decoration: none;
  }
  @media (max-width: 992px) {
    .contact {
      background: linear-gradient(rgba(21, 31, 32, 1), rgba(21, 31, 32, .95));
    }}
