
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>PhotoX</title>
  </head>

<div class="container py-3">
    <div class="row">
        <div class="col text-center mb-3">
            <h1 class="text-warning display-2">Team</h1>
            <p class="lead text-light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, a. Omnis, numquam!
            </p>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let item of newsContainer" class="col-md-6 mb-4">
            <div class="news-card">
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-fluid" [src]="item.urlToImage">
                    </div>
                    <div class="col-md-12">
                        <div class="movie-info text-white py-5 px-2">

                            <h3>{{item.title|seemore:50}}</h3>


                            <p>{{item.description|seemore:100}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
