<header>
  <nav class="navbar navbar-expand-lg fixed-top nav-menu">

    <button class="navbar-toggler nav-button" type="button" data-toggle="collapse" data-target="#myNavbar">
      <div class="bg-light line1"></div>
      <div class="bg-light line2"></div>
      <div class="bg-light line3"></div>
    </button>
    <div class="collapse navbar-collapse justify-content-end text-uppercase font-weight-bold" id="myNavbar">
      <ul *ngFor="let k of categories" class="navbar-nav">
        <li class="nav-item">
          <a href="#" class="nav-link m-2 menu-item nav-active"  (click)="this._navService.changeCategory(k)">{{k}}</a>
        </li>
        </ul>
    </div>

      
    <div class="firstNav">
      <div class="nav-item dropdown myToggle float-right">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><i class="fas fa-globe"></i></a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <h5 *ngFor="let c of countries" (click)="this._navService.changeCode(c.code)" class="p-1">{{c.name}}</h5>
        </div>
      </div>
    </div>
  </nav>
  <div class="text-light text-md-right text-center banner">
    <h1 class="display-4 banner-heading">Welcome to <span class="text-uppercase">news</span></h1>
    <p class="lead banner-par">Newspapers are printed in several languages.</p>
  </div>
</header>
